
        <div ng-controller="DocumentController" class="content col-sm-11 col-md-11 main">
          <h1 class="page-header">Document</h1>
			<form name="frm" ng-init="initDocument()" method="post" id="fromFileUpload"
			 enctype="multipart/form-data" ng-submit="upload($event)">
		        <div class="form-group vcenter" ng-show="showUpload">
		            <label ng-show="showUploadButton" class="control-label col-md-3" for="file">Please upload the file : </label>		            
		            <div ng-show="showUploadButton" class="col-md-4 input-max controls ">
<!-- 		                <input class="inline-block" type="file" name="file" ng-model="file" data-rule-required="true" id="file"         
		                	accept=".xml"> -->
						<label class="file">
						  <input type="file" name="file" ng-model="file" data-rule-required="true" id="file" accept=".xml">
						  <span class="file-custom"></span>
						</label>			                	
		            </div>
		            <label ng-show="showPayButton" class="control-label col-md-7">Your Point is : {{points}}. You need 50 points at least for generating a document.</label>
		            <div class="col-md-5 actions">   
		            	<input type="submit" ng-show="showUploadButton" class="btn btn-primary" value="Upload" />
		            	<input type="button" ng-show="showPayButton" class="btn btn-primary" value="Pay" />
		            </div>
		        </div>	
		        <div class="form-group vcenter" ng-show="showDownload">
		            <label class="control-label col-md-3" for="file">Download the file : </label>
		            <div class="col-md-6 input-max controls "><a href="/download?id={{id}}">{{fileName}}</a></div>
		        </div>
			    <div id="progress_bar" class="col-sm-6" ng-show="showBar" style="position:absolute;">
					<uib-progressbar class="progress-striped active vcenter" max="400" value="400" style="height:30px;" type="danger"><i><b>Processing...</b></i></uib-progressbar>
				</div>   
			</form>
        </div>        
        
<script src="/js/include.js"></script>
     