@charset "utf-8";

/********** admin **********/ 
body {
	background-color:whitesmoke;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom : 1px solid #dbdbdb;
}

.neighborhood-guides .container {
  position: relative;
}

.form-group .form-control {
 	margin-left : 10px;
 	width : 300px;
 	margin-bottom : 10px;
}

form[name="userForm"] label {
	 margin-left:10px;
	 width:150px; 
	 /*color:#fff; 
	 background-color:#428BCA;
	 margin-right:5px;	*/
}

.content {
	background-color:white;
}

.loginBody {
	margin-top:40px; 
	border-radius: 3px; 
	border: 3px; 
	border-color:grey; 
	border-style:solid;
	background-color:white;
}