
	<div class='content col-sm-5 col-sm-offset-1' ng-class="{'loginBody' : !Auth.isMobile()}" ng-show="!Auth.isLoggedIn()">
	<h1 class="text-muted">login</h1>
    <form name="loginForm" ng-controller="LoginController" ng-submit="loginForm.$valid && login()" novalidate>
    	<fieldset class="form-group has-success has-feedback" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
    		<legend class="scheduler-border"></legend>
    		<label for="email" class="control-label col-sm-4 text-muted">Id</label>
    		<div class="col-sm-8 pull-left">
				<input ng-model="id" type="text" name="id" class="form-control" title="Id" ng-init="id='administrator'" required />
			</div>
			<!-- <span class="glyphicon glyphicon-ok form-control-feedback"></span> -->
    	</fieldset>
    	<fieldset class="form-group has-success has-feedback" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.email.$pristine }">
    		<label for="password" class="control-label col-sm-4 text-muted">Password</label>
    		<div class="col-sm-8 pull-left">
				<input ng-model="password" type="password" name="password" class="form-control" title="password" ng-minlength="4" ng-init="password='asdf'" required>
			</div>
    	</fieldset>
    	<fieldset class="form-group">
    	  	<!-- <input type="button" class="btn btn-info pull-left" value="Register" ng-click="location.path('/add')" /> -->
          	<input type="submit" class="btn btn-primary pull-right" value="Login" />
        </fieldset>
    </form>     
  	</div>

