


        <div ng-controller="LogDetailController" ng-init="getList(1)" class="content col-md-12 col-md-12 main">
          <h1 class="page-header">Events</h1>
          
      <div class="row">
           <div class="input-group" id="adv-search">
                <input type="text" name="keyword" ng-model="keyword" class="form-control" placeholder="Search keyword" /> 
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" 
                            	aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form name="frm" ng-submit="getList(1, 2);" class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label for="contain">Log Id</label>
                                    <input class="form-control" name="logId" type="text" ng-model="logId" />
                                  </div>
                                  <div class="form-group">
                                    <label for="filter">Log Level</label>
                                    <select name="logLevel" class="form-control" ng-model="logLevel">
                                        <option value="" selected>All</option>
                                        <option value="DEB">DEBUG</option>
                                        <option value="INF">INFO</option>
                                        <option value="ERR">ERROR</option>
                                    </select>
                                  </div>                                  
                                  <div class="form-group">
                                    <label for="contain">Class</label>
                                    <input class="form-control" name="workOrderNum" type="text" ng-model="workOrderNum" />
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Method</label>
                                    <input class="form-control" name="methodName" type="text" ng-model="methodName" />
                                  </div>                                     
                                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="getList(1, 1);"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div> 
          </div>          

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th width="5%">#</th>                  
                  <th width="20%">Log Id</th>
                  <th width="10%">Class</th>
                  <th width="10%">Method</th>
                  <th width="5%">level</th>
                  <th width="*">Log</th>
                  <th width="20%">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list in lists">
                  <td>{{((pageIndex - 1) * 10) + $index+1}}</td>
                  <td>{{list.logId}}</td>
                  <td>{{list.className}}</td>
                  <td>{{list.methodName}}</td>
                  <td class="{{list.logClass}}"><b>{{list.logLevel}}</b></td>                  
                  <td>
                  	<div ng-if="list.textFlag == 'true'">
                  		{{list.text}}
                  	</div>
                  	<div ng-if="list.textFlag == 'false'">
                  		<a href="" ng-click="showDetailLog(list.detailText)">{{list.text}}</a>
                  	</div>
                  </td>
                  <td>{{list.createdDate}}</td>
                </tr>
              </tbody>
            </table>
          </div>

			<nav style="margin:0 auto; width:300px;">
				<ul class="pagination">
				   <li class="{{pagination.hasPrevious()?'':'disabled'}}"><a href="" ng-click="getList(pagination.current() - 1)">&laquo;</a></li>
				   <li ng-show="pagination.hasPrevious()"><a href="" ng-click="getList(pagination.current() - 1)">{{pagination.current() - 1}}</a></li>
				   <li ng-hide="pagination.hasPrevious()"><span>&nbsp;</span></li>
				   <li class="active"><a href="" ng-click="getList(pagination.current())">{{pagination.current()}}</a></li>
				   <li ng-show="pagination.hasNext()"><a href="" ng-click="getList(pagination.current() + 1)">{{pagination.current() + 1}}</a></li>
				   <li class="{{pagination.hasNext()?'':'disabled'}}"><a href="" ng-click="getList(pagination.current() + 1)">&raquo;</a></li>
				</ul>	  
			</nav>

        </div>
