


        <div ng-controller="DashboardController" ng-init="getDashboardList()" class="content col-sm-11 col-md-11 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
              	<img src="/image/dashboard.jpg" width="80%"/>
              </tbody>
            </table>
          </div>

        </div>

        
<script>
//Adjust footer height
$(function(){		
  $('.row.well').css({ height: $(window).innerHeight() - 120 });
  $('.content.main').css({ height: $(window).innerHeight() - 212 });
  $(window).resize(function(){
    $('.row.well').css({ height: $(window).innerHeight() - 115});
  }); 
});
</script>