  
<div class="container content col-md-offset-1 col-md-4 col-md-offset-4" ng-class="{'loginBody' : !Auth.isMobile()}">
	<h1 class="text-muted">login</h1>
    <form name="loginForm" ng-controller="LoginController" ng-submit="loginForm.$valid && login()" novalidate>
    	<fieldset class="form-group has-success has-feedback" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
    		<legend class="scheduler-border"></legend>
    		<label for="emailField" class="text-muted">Email address</label>
			<input ng-model="email" type="email" name="email" class="form-control" title="Email" ng-init="email='asdf@asdf.com'" required />
			<!-- <span class="glyphicon glyphicon-ok form-control-feedback"></span> -->
    	</fieldset>
    	<fieldset class="form-group has-success has-feedback" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.email.$pristine }">
    		<label for="passwordField" class="text-muted">Password</label>
			<input ng-model="password" type="password" name="password" class="form-control" title="password" ng-minlength="4" ng-init="password='asdf'" required>
    	</fieldset>
    	<fieldset class="form-group">
    	  	<input type="button" class="btn btn-primary pull-left" value="Register" ng-click="location.path('/add')" />
          	<input type="submit" class="btn btn-primary pull-right" value="Login" />
        </fieldset>
<!--         <fieldset>
        <legend class="scheduler-border text-muted">Test Login Account : ID - asdf@asdf.com, P/W : asdf </legend>
        </fieldset> -->
    </form>     
</div>

