    <div class='footer'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-3 col-sm-4 col-xs-6'>
            <h4>Who I am</h4>
            <p><i>Jake</i> would be the Java Developer who you are looking for. <a href='https://au.linkedin.com/in/jakepark0120' target="_blank">See my profile!!</a></p>            
            <p><a href='https://au.linkedin.com/in/jakepark0120'>More About Me <i class='glyphicon glyphicon-arrow-right'></i></a></p>
          </div>
<!--           <div class='col-md-offset-1 col-sm-2 col-xs-6'>
            <h4>Links</h4>
            <ul class='list-unstyled'>
              <li><a href='/'>Home</a></li>
              <li><a href='tickets.html'>Tickets</a></li>
              <li><a href='stations.html'>Stations</a></li>
            </ul>
          </div> -->
<!--           <div class='clearfix visible-xs'></div>
          <div class='col-sm-2 col-xs-6'>
            <h4>Stay in Touch</h4>
            <ul class='list-unstyled'>
              <li><a href='mailto:jake.park0120@gmail.com'>Contact Me</a></li>
              <li><a href='https://au.linkedin.com/in/jakepark0120' target="_blank">LinkedIn</a></li>
            </ul>
          </div> -->
          <div class='col-md-3 col-md-offset-1 col-sm-4 col-xs-6'>
            <h4>Contact Me</h4>
            <ul class='list-unstyled'>
              <li>Ryde, NSW <i class='glyphicon glyphicon glyphicon-globe'></i></li>
              <li>04 0217 5809 <i class='glyphicon glyphicon glyphicon-phone'></i></li>
              <li><a href='mailto:jake.park0120@gmail.com'>jake.park0120@gmail.com
                 <i class='glyphicon glyphicon glyphicon-envelope'></i></a></li>
            </ul>
            <p>Jake's Box &copy;2015.</p>
          </div>
        </div>
      </div>
    </div>   