@charset "utf-8";

/********** admin **********/ 
body {
	/*background-color:whitesmoke;*/
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom : 1px solid #dbdbdb;
}

.neighborhood-guides .container {
  position: relative;
}

.form-group .form-control {
 	margin-left : 10px;
 	width : 100%;
 	margin-bottom : 10px;
}

form[name="userForm"] label {
	 margin-left:10px;
	 width: 100%;
	 /*color:#fff; 
	 background-color:#428BCA;
	 margin-right:5px;	*/
}

.content {
	background-color:white;
}

.loginBody {
	margin-top:30px; 
	border-radius: 2px; 
	border: 1px; 
	border-color:#dbdbdb; 
	border-style:solid;
	background-color:white;
}

.quote {
  background-color: #444;
  color: #e1e1e1;
  margin: 2em 0;
}
.quote blockquote {
  border: none;
  margin: 0;
}
.quote footer {
  color: #c1c1c1;
}


.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */  
  color: #efefef;
  background-color: #333;  
}

html.touch footer {
    height: auto;
}

html.no-touch footer {
    height: 200px;
}

.footer a {
  color: #9af7fe;
}

.footer .glyphicon {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .layer_width {width: 95%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .layer_width {width: 40%;}
}

.fieldset {
	border: 0px solid #C0C0C0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle !important;
    float: none;
}